.anyClass {
    height:150px;
    overflow-y: scroll;
}

.list-group {
    height:600px;
    overflow-y: scroll;
}

.form-inline {
    margin-left: 0px;
}

#disabled {
    pointer-events: none; 
    cursor: default;
    color: #888;
}

#x {
    margin-top: 15%;
}

.row {
    margin-right: 0;
}

.form-control {
    margin-left: 5%;
}