<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form class="form-inline my-2 my-lg-3">
                <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search" style="width: 100%;" [(ngModel)]='searchVar' name='searchVar' (input)="searchByName ()">
                <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
              </form>
            <div class="list-group">
                <div *ngFor="let person of array">
                    <div class="row">
                        <div class="col-10">
                            <a href="#" class="list-group-item list-group-item-action" *ngIf="!returnState (person.id)" style="border-color: #fff;" (click)="getInfoById (person.name, person.shortInfo, person.id)" >
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{person.name}}</h5>
                                    <!-- <button class="btn btn-outline-primary btn-sm" (click)="changeState (person.id)">x</button> -->
                                </div>
                                <p class="mb-1">{{person.shortInfo}}</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action" *ngIf='returnState (person.id)' id='disabled' style="border-color: #fff;" (click)="getInfoById (person.name, person.shortInfo, person.id)" >
                            <div class="d-flex w-100 justify-content-between">
                                <strike><h5 class="mb-1">{{person.name}}</h5></strike>
                            </div>
                            <p class="mb-1"><strike>{{person.shortInfo}}</strike></p>
                            </a>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-primary btn-sm" id="x" *ngIf="!returnState (person.id)" (click)="changeState (person.name, person.shortInfo, person.id)">X</button>
                            <button class="btn btn-outline-primary btn-sm" id="x" *ngIf="returnState (person.id)" (click)="changeState (person.name, person.shortInfo, person.id)">R</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 ">

            <br><br><br>
            <div class="row">
                <div class="col-7">
                    <h1>{{selectedItem.name}}</h1>
                </div>
                <div class="col-5">
                    <img [src]="selectedItem.picture">
                </div>
            </div>
            
            <h3>{{selectedItem.shortInfo}}</h3><br><br>
            <h5>{{selectedItem.bio}}</h5>
        </div>
    </div>
</div>


